body {
  font-family: $font-family;
  font-weight: 900;
}

.main-container {
  height: 100vh; // h-100
  width: 100vw;
  font-size: 16px;
  color: $color-dark;
  background-color: $color-light;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
