$font-family: "Roboto-Regular", sans-serif;

$color-dark: #000;
$color-light: #fff;
$color-grey: #333;

$color-dodgerblue: #1e90ff;
$color-goldenrod: #daa520;
$color-purple: #663399;
$color-green: #058809;
$color-pink: #df09e2;
