.app-footer {
  width: 100%; //
  font-weight: 400;
  background-color: $color-grey;
  color: $color-light;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 12px 24px; // p-5 ~ 13px

  .footer-info-section,
  .site-brands,
  .footer-bottom {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .site-brands {
    padding: 12px;
    background-color: $color-goldenrod;
    justify-content: space-around;

    .brand {
      flex: 1;
      text-align: center;

      &:not(:last-child) {
        border-right: 2px solid $color-grey;
      }
    }
  }

  .footer-bottom {
    justify-content: center;

    .site-copy-rights {
      padding: 4px 16px;
      border-radius: 8px;
      background-color: $color-dodgerblue;
    }
  }
}


